/*custome css*/

.box-reg{
  background: #fff;
  border: 1px solid #e6eaee;
  border-radius: 4px;
  padding: 10px 20px;
  margin-bottom: 10px;
}
.login-bottom {
    padding: 5px 30px;
}
.login-block {
    width: 550px;
    padding-top: 110px;
}
.faq-block {
    width: 70%;
    margin: 0 auto;
    padding-top: 100px;
}
.mini-profile .avatar-profile .avatar-details .avatar-name a {
    text-transform: none;
}
.panel-post .panel-heading .post-author .user-post-details li .user {
    text-transform: none;
}
.suggested-p{
  padding-top: 10px;
}
.btn-follow {
    float: right;
    margin-top: 8px;
}
.dropdown.message .dropdown-menu>ul li .media .media-body .media-heading .message-heading {
    text-transform: none;
}
.user-image.dropdown.socialite>a .user-name {
    text-transform: none;
}
.panel-post .panel-heading .post-author .user-post-details li .user {
    text-transform: none;
}
.chat-box .chat-box-header .pull-left {
    text-transform: none;
}
.following-group .list-group-item .media .media-body .media-heading {
    text-transform: none;
}
.user-timeline-name a {
    text-transform: none;
}
.list-group.page-likes .list-group-item .connect-link a {
    text-transform: none;
}
.panel-post .comments-section .comments-wrapper .commenter-name a {
    text-transform: none;
}
.center-text{
  display: inline;
  text-align: center;
  color: #000;
}

.container-fluid {
    box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.35);
}

.panel-body {
    padding: 7px 15px;
}

.text-wrapper h3{
  margin-top: 0px;
  margin-bottom: 5px;
}

.panel-post .panel-body .text-wrapper .post-image-holder {
    margin-top: 0px;
}
.panel-post .panel-body .actions-count {
    margin-top: 2px;
    margin-bottom: 0;
}

.list-inline li h4{
  font-size: 13px;
  font-weight: 600;
  line-height: 5px !important;
}

.hijau{
  color : green;
}
.kuning{
  color: #b3b302;
}
.merah{
  color:red;
}

.panel-post .panel-heading .post-author .post-options {
    margin-top: 0px;
}
.panel-post .panel-heading .post-author .user-post-details ul {
     padding-left: 0px;
}

.panel-post .panel-heading .post-author .user-post-details li .post-time {
    margin-right: 0px;
}
